server {
    listen <port_no>;
    server_name _;
    location / {
        proxy_pass https://app.armorcode.com/;
        proxy_set_header Host app.armorcode.com;
        proxy_ssl_server_name on;
        proxy_http_version 1.1;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Authorization $http_authorization;
        proxy_set_header Cookie $http_cookie;
        proxy_set_header Content-Type $http_content_type;
        proxy_set_header Content-Length $http_content_length;
        proxy_set_header Accept $http_accept;
        proxy_set_header Accept-Encoding $http_accept_encoding;
        proxy_set_header Accept-Language $http_accept_language;
        proxy_set_header User-Agent $http_user_agent;
        proxy_set_header Referer $http_referer;
        proxy_set_header Origin $http_origin;
        proxy_set_header X-Requested-With $http_x_requested_with;
        proxy_set_header X-Api-Key $http_x_api_key;
        proxy_set_header X-Csrf-Token $http_x_csrf_token;
    }
}