[supervisord]
nodaemon=true

[program:AGENT_1]
command=/usr/src/venv/bin/python3 /usr/src/app/worker.py --index 1
user=root
autostart=true
autorestart=true
restart_delay=5
stdout_logfile=/tmp/armorcode/agent_1.log
stderr_logfile=/tmp/armorcode/agent_1-error.log

[program:AGENT_2]
command=/usr/src/venv/bin/python3 /usr/src/app/worker.py --index 2
user=root
autostart=true
autorestart=true
restart_delay=5
stdout_logfile=/tmp/armorcode/agent_2.log
stderr_logfile=/tmp/armorcode/agent_2-error.log