[supervisord]
nodaemon=true

[program:AGENT_1]
command=python3 /usr/src/app/worker.py --index 1
autostart=true
autorestart=true
stdout_logfile=/var/log/agent_1.log
stderr_logfile=/var/log/agent_1-error.log

[program:AGENT_2]
command=python3 /usr/src/app/worker.py --index 2
autostart=true
autorestart=true
stdout_logfile=/var/log/agent_2.log
stderr_logfile=/var/log/agent_2-error.log

[program:AGENT_3]
command=python3 /usr/src/app/worker.py --index 3
autostart=true
autorestart=true
stdout_logfile=/var/log/agent_3.log
stderr_logfile=/var/log/agent_3-error.log

[program:AGENT_4]
command=python3 /usr/src/app/worker.py --index 4
autostart=true
autorestart=true
stdout_logfile=/var/log/agent_4.log
stderr_logfile=/var/log/agent_4-error.log

[program:AGENT_5]
command=python3 /usr/src/app/worker.py --index 5
autostart=true
autorestart=true
stdout_logfile=/var/log/agent_5.log
stderr_logfile=/var/log/agent_5-error.log
